*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.head{
    width: 100%;
    height: 70vh;
 
    background-image: url(landingHomePage.jpg);
    background-size: cover;
}

.headnav{
    display: flex;
    justify-content: space-between;
    padding: 0px 10vw;
    padding-top: 20px;
}

.navlogo{
    font-size: 2rem;
}
.navlanguage select{
    background-color: #66a334;
    border-radius: 30px;
    width: 80px;
   
}
.headMain{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.headtext h1{
    font-size: 5rem;
    margin-bottom: 20px;
}
.headtext h6{
   margin-bottom: 20px;
   font-size: 1.4rem;
   text-align: center;
}
.headtext a{

  text-align: center;
  display: flex;
  justify-content: center;

}

.headtext button{
    cursor: pointer;
     margin-bottom: 10px;
  background-color: rgba(6, 95, 46, 0.788);
  color: white;
  font-size: 0.7rem;
  height: 30px;
  width: 130px;
  border-radius: 20px;
 
}
.headtext p{
  text-align: center;
 font-size: 0.7rem;
}

/* content */

.content{
    width: 100%;
    height: 50vh;
    display: flex;
  
    justify-content: center;
    align-items: center;
    
}
.image{
    height: 80%;
    width: 30%;
 
   margin: 20px 20px;
   background-image: url(landingHomePage.jpg);
   background-size: cover;
}

.text{
    height: 80%;
    width: 30%;
    margin: 20px 20px;
   
    padding-left: 10px;
}

.text h1{
    margin-top: 5px;
    font-size: 2.5rem;
}
.text p{
    margin-top: 15px;
   margin-bottom: 5px;
}
.text button{
    margin-top: 20px;
    cursor: pointer;
  background-color: rgba(6, 95, 46, 0.788);
  color: white;
  font-size: 0.7rem;
  height: 30px;
  width: 130px;
  border-radius: 20px;
   
}

/* footer */

.foottop{
    height: 70vh;
    width: 100%;
padding-top: 20px;
   
}
.footbox{
width: 100%;
height: 50vh;
display: flex;

padding: 30px;
justify-content: space-evenly;
}

.box{
    width: 20%;
    height: 100%;
   
    text-align: center;
}

.box img{
    width: 100%;
    height: 35%; 
    border-radius: 40px;
}
.box h1{
    margin-top: 10px;
}
.box p{
    margin-top: 10px;
}

.foottop a{
 display: flex;
 padding-top: 30px;
 justify-content: center;

}

/* footbottom */

.footBottom{
    text-align: center;
    background-color: #f0d2af;
    padding-top: 40px;
    padding-bottom: 40px;
}



.footloco{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footloc{
    margin-right: 20px;
}
.footcon{
    margin-left: 20px;
}

